<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Технологии
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                А вы знали, что Гавайский алфавит состоит из 13 букв?
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>В этом непростом проекте использован Django, пот, стресс, терпение и нервы.</p>
          <p><img src="http://risovach.ru/upload/2014/11/mem/v-mire-grustit-odin-kotik_67592698_orig_.jpg"</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}